{% extends "base.html" %}
{% load static %}

{% block main %}
    <!-- Body of landing page -->
    <section class="hero">
        <div class="container">
          <div class="info">
            <h1>Get your issues solved with ease!</h1>
            <p>Serve students wherever they are from wherever you are and support
              operations seamlessly while you engage with your students.</p>
            <ul class="a">
              <li>Bring requests to a single window</li>
              <li>High response and resolution rates</li>
              <li>Automate support for reccuring issues</li>
              <li>Get real-time insights</li>
            </ul>
          </div>
          <div class="row">
            <img class="cont-img" src="{% static 'images/landing.jpg' %}" alt="helpdesk">
          </div>
        </div>
      </section>



{% endblock main %}